* 
:root {
  --headingColor: #6b705c;
  --backgroundColor: #ddbea9;
}

body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    background-color: #fdf7f2;
  }

header {
    display:flex;
    justify-content: space-between;
    background-color: #6b705c;
    padding: 10px;
  }


h1 { 
    display:flex;
    align-items: flex-start;
    color: #6b705c;
    border: solid 2px #ddbea9;
    background-color: #ddbea9;
    padding-left: 100px;
  } 


#navBar {
    padding-right: 0px;
    display:flex;
  }

ul {
    display: flex;
    justify-content: space-evenly;
    width: 400px;
    list-style-type: none;
  }

li a {
    color: #ddbea9;
  }

.heroBanner{
    display:flex;
    justify-content: end;
    align-items: end;
    background-image: url(../images/heroBackground.jpg);
    height: 200px;
    color: #6b705c;
    background-color:#ddbea9; 
    width: 100%;
  }

#subtitle{
    background-color:#ddbea9;
    margin: 20px;
    margin-right: 50px;
    padding-left: 10px;
    height: 50px;
    width: 200px
  }

main {
    padding: 20px;
    color:#6b705c;
    display: inline-block;
  }

.pageSection {
  border-top: solid #6b705c 3px; 
}

  .pageSection h2{
    display: flex;
    flex-direction:column; 
    align-items: start;
    width: 150px;
    margin-right: 20px;
    margin-top: 20px;
  }

  .pageSection p{
        margin-left: 200px;
        margin-bottom: 100px;
        width:fit-content;

  }

#work {
    padding: 20px;
}

.portfolioGrid { 
    
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "project1 project1"
    "project2 project3"
    "project4 project5";
    margin-left: 150px;
    margin-bottom: 100px;
    
  }

.project1 {
    grid-area: project1;
    background-image: url(../images/Project1.jpg);
    background-position: center;
    height: 200px;
    margin: 5px;
    display: flex;
    align-items: end;
    transition: all 0.5s ease-in-out;
    box-shadow:inset 0px 0px 8px #cc9475, 0 0 15px #cc9475
    
  }

  .project1 h3 { 
    
    width: 200px;
    height: 50px;
    padding-left: 10px;
    margin-bottom: 15px;
    background-color: #ddbea9;
    color: #6b705c;
    display: flex;
    justify-content: start;
    align-items: flex-end;    
  }

  .project2 {
    grid-area:project2;
    background-image: url(../images/Project2.jpg);
    background-position: center;
    background-size:cover;
    height: 200px;
    margin: 5px;
    display: flex;
    align-items: end;
    transition: all 0.5s ease-in-out;
    box-shadow:inset 0px 0px 8px #cc9475, 0 0 15px #cc9475
  }

  .project2 h3 {  
    width: 200px;
    height: 50px;
    background-color: #ddbea9;
    color: #6b705c;
    display: flex;
    justify-content: start;
    align-items: flex-end;
    padding-left: 10px;
    margin-bottom: 15px
    
  }

  .project3 {
    grid-area:project3;
    background-image: url(../images/Project3.jpg);
    background-position: center;
    height: 200px;
    margin: 5px;
    display: flex;
    align-items: end;
    transition: all 0.5s ease-in-out;
    box-shadow:inset 0px 0px 8px #cc9475, 0 0 15px #cc9475
  }

  .project3 h3 { 
    width: 250px;
    height: 50px;
    background-color: #ddbea9;
    color: #6b705c;
    display: flex;
    justify-content: start;
    align-items: flex-end;
    padding-left: 10px;
    margin-bottom: 15px
  }

  .project4 {
    grid-area: project4;
    background-image: url(../images/Project4.jpg);
    background-position: center;
    height: 200px;
    margin: 5px;
    display: flex;
    align-items: end;
    transition: all 0.5s ease-in-out;
    box-shadow:inset 0px 0px 8px #cc9475, 0 0 15px #cc9475
  }

  .project4 h3 { 
    width: 200px;
    height: 50px;
    background-color: #ddbea9;
    color: #6b705c;
    display: flex;
    justify-content: start;
    align-items: flex-end;
    padding-left: 10px;
    margin-bottom: 15px
    
  }

  .project5 {
    grid-area: project5;
    background-image: url(../images/Project5.jpg);
    background-position: center;
    height: 200px;
    margin: 5px;
    display: flex;
    align-items: end;
    transition: all 0.5s ease-in-out;
    box-shadow:inset 0px 0px 8px #cc9475, 0 0 15px #cc9475
  }

  .project5 h3 { 
    width: 350px;
    height: 50px;
    background-color: #ddbea9;
    color: #6b705c;
    display: flex;
    justify-content: start;
    align-items: flex-end;
    padding-left: 10px;
    margin-bottom: 15px
  }

a { 
  color: #6b705c;
  text-decoration: none;
}

.pageSection-contact {
  border-top: solid #6b705c 3px; 
  border-bottom: solid #6b705c 3px; 
  padding-bottom: 100px;
}


  #contact a {
     display: inline-flex;
     justify-content: space-evenly;
     width: 33%;
  }

  @media only screen and (max-width: 640px) {

  }